* {
  box-sizing: border-box;
}

footer {
  position: absolute;
  align-content: center;
  bottom: 0;
  left: 0;
  min-width: 100%;
  padding: 0 1vw;
  background-color: rgb(30, 144, 255);
  min-height: 6vh;
}

.footer_content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  color: white;
  font-size: clamp(10px, 3vw, 20px);
}

.footer_content .left {
  justify-self: start;
}

.footer_content .center {
  justify-self: center;
  display: flex;
  gap: clamp(20px, 3vw, 50px);
}
